.container {
    text-align: center;
    
    
}

h1 {
    
    background-color: aqua;
    font-style: "Times New Roman",serif;
    color:black;
    
    
    }
 
   

 button{
    border: 1px solid brown;
    margin: 2px auto;
    background-color: rgb(227, 143, 161);
    
 }

 li {
    list-style-type: none;
 }
 

 


 

